<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Servicio_General.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="CSTRG_SQL" connectionString="Server=dfsqlsistemas;Initial Catalog=DF_SISTEMAS_PROD;User Id=sistemaplantaprod;Password=df78963sistemariogrande;Persist Security Info=True"/>
    <add name="Conexion_Oracle_Prod" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=srvebsdfdbp.garba.com.ar)(PORT=1521))(CONNECT_DATA=(SERVER=DFPROD)(SID=DFPROD)));User Id=TRK_IFZ_EBS;Password=ebs_PROD_TRK;"/>
  </connectionStrings>
  <appSettings>
    <add key="Ambiente" value="PROD"/>
    <add key="AMBIENTE_SQL" value="PROD"/>
    <add key="DataProvider" value="System.Data.SqlClient"/>
  </appSettings>
  <applicationSettings>
    <Servicio_General.Properties.Settings>
      <setting name="Servicio_General_WS_Servicio_WS_Servicio" serializeAs="String">
        <value>http://localhost:2276/WS_Servicio.asmx</value>
      </setting>
    </Servicio_General.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
